.textarea {
    outline: none;
    max-width: 100vw;
    width: 500px;
    height: 200px;
    border: none;
    display: block;
    &:focus {
        background-color: rgba(109, 136, 3, 0.04);
    }
    &::selection {
        background-color: rgba(109, 136, 3, 0.3);
    }
}
.container {
    width: fit-content;
    height: fit-content;
    border: 3px solid rgba(134, 134, 134,.8);
    position: relative;
    &:focus-within {
        border: 3px solid rgba(109, 136, 3, 0.8);
    }
}